@using ContainerDeck.Shared.Dialogs
 <div class="card card-horizontal">
    <div class="card-icon">
        <svg class="card-icon" aria-hidden="true">
            <use href="@This.AgentIcon"></use>
        </svg>
    </div>
    <div class="card-content-horizontal">
        <div class="row">
            <span><b>@This.Name</b></span>
            <span class="muted">@This.Address</span>
        </div>
        <div class="row">
            <span class="subtext">Agent Version: @_agentVersion</span>
            <span class="subtext">Docker version: @_dockerVersion</span>
            <span class="subtext">Status: @( _isHealthy ? "Online" : "Offline")</span>
        </div>
        
       
    </div>
    <div class="card-footer-vertical">
        <button class="btn icon-btn" @onclick="() => EditAgent()"> <i class="icon icon-edit"></i></button>
        <button class="btn icon-btn" @onclick="() => DeleteAgent()"> <i class="icon icon-delete"></i></button>
    </div>
</div>

<BaseDialog Title="Edit Agent" Opened="dialogShown">
    <BodyContent>
        <AgentDialog Agent=This></AgentDialog>
    </BodyContent>

    <FooterContent>
        <button class="btn save-button" @onclick="() => SaveAgent()">Save</button>
        <button class="btn cancel-button" @onclick="() => dialogShown = false">Cancel</button>
    </FooterContent>
</BaseDialog>
